@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: 'Minecraft';
    src: url('/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

.border-outset{
    border-style: outset;
}

.checker-bg{
    --checker-size: 16px;
    --checker-color: #0002;
    
    background-image: linear-gradient(45deg, var(--checker-color) 25%, transparent 25%), linear-gradient(-45deg, var(--checker-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--checker-color) 75%), linear-gradient(-45deg, transparent 75%, var(--checker-color) 75%);
    background-size: var(--checker-size) var(--checker-size);
    background-position: 0 0, 0 calc(var(--checker-size)/2), calc(var(--checker-size)/2) calc(var(--checker-size)/-2), calc(var(--checker-size)/-2) 0px;
}


.pixel-corners {
    clip-path: polygon(
      0px calc(100% - 4px),
      4px calc(100% - 4px),
      4px 100%,
      calc(100% - 4px) 100%,
      calc(100% - 4px) calc(100% - 4px),
      100% calc(100% - 4px),
      100% 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 0px,
      4px 0px,
      4px 4px,
      0px 4px
    );
}

a {
    color: #7695EC;
    /* Not sure if underlined links is desired or not. */
    /* text-decoration: underline; */
}

a:hover {
    color: #617ac1;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #000;
}