@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/MinecraftBold-nMK1.otf') format('opentype');
    font-weight: 600;
    font-style: bold;
}

@layer base {
    :root {
        --white: #e4f8fd;
        --offwhite: #c5dae1;
        --blue: #7592f1;
        --lightblue: #7592f1;
        --gray: #1f2836;
        --dark-gray: #141823;
    }

    :root {
        --color-text: var(--dark-gray);

        --background: var(--white);
        --background-dimmed: var(--offwhite);
    }

    .dark {
        --color-text: var(--white);

        --background: var(--gray);
        --background-dimmed: var(--dark-gray);
    }
}

:root {
    color: var(--color-text);
}

.border-outset{
    border-style: outset;
}

.bg-checker{
    --checker-size: 20px;
    --checker-color: #0002;
    
    background-image: linear-gradient(45deg, var(--checker-color) 25%, transparent 25%), linear-gradient(-45deg, var(--checker-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--checker-color) 75%), linear-gradient(-45deg, transparent 75%, var(--checker-color) 75%);
    background-size: var(--checker-size) var(--checker-size);
    background-position: 0 0, 0 calc(var(--checker-size)/2), calc(var(--checker-size)/2) calc(var(--checker-size)/-2), calc(var(--checker-size)/-2) 0px;
}


.pixel-corners {
    clip-path: polygon(
      0px calc(100% - 4px),
      4px calc(100% - 4px),
      4px 100%,
      calc(100% - 4px) 100%,
      calc(100% - 4px) calc(100% - 4px),
      100% calc(100% - 4px),
      100% 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 0px,
      4px 0px,
      4px 4px,
      0px 4px
    );
}

.pixel-top {
    clip-path: polygon(
      0px 100%,
      100% 100%,
      100% 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 0px,
      4px 0px,
      4px 4px,
      0px 4px
    );
}

.pixelated{
    image-rendering: pixelated;
}

a:not(.no-default-link) {
    color: #7695EC;
    /* Not sure if underlined links is desired or not. */
    /* text-decoration: underline; */
}

a:not(.no-default-link):hover {
    color: #617ac1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #fff;
}

@media(prefers-color-scheme: dark){
    ::-webkit-scrollbar-thumb{
        background: #000;
    }
}